@using RpgInfinity.Controllers
@model RpgInfinity.Models.Character

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.ActionLink("Race", "Race", new { id = Model.CharRaceId })
            @*@Html.DisplayNameFor(model => model.CharRace.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharRace.Name)
        </dd>

        <dt>
            @Html.ActionLink("Class", "Class", new { id = Model.CharClassId })
            @*@Html.DisplayNameFor(model => model.CharClass.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharClass.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmorClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmorClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAttackBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAttackBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrengthBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrengthBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DexterityBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DexterityBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstitutionBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstitutionBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntelligenceBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntelligenceBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WisdomBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WisdomBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharismaBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharismaBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wisdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charisma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Backstory)
        </dt>

        <dd class="backstory">
            @Html.DisplayFor(model => model.Backstory)
        </dd>

    </dl>
</div>
<p>
    @if (HomeController._currentUser != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
    | @Html.ActionLink("Back to List", "Index")
</p>
