@model IEnumerable<RpgInfinity.Models.Character>

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Roll Character", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit Sheet", "Edit", new { id=item.ID }) |
            @Html.ActionLink("View Sheet", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete Character", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
